.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #556270 , #ff6b6b);
    height: 100vh;
    text-align: center;
    h1 {
        background: #556270;
        padding: 1rem;
        color: #ffffff;
        border-radius: 0.5rem;
    }
}